openapi: 3.0.3
info:
  title: "Project: ATLAS - AI Coaching Platform API (V1)"
  description: "학생의 4축 잠재 공간 모델을 기반으로 코칭 활동을 지원하는 통합 API"
  version: "1.0.0"
servers:
  - url: "https://api.atlas.sigongjoa.com/v1"
    description: "Production Server"
  - url: "http://localhost:8000/v1"
    description: "Local Development Server"

paths:
  /students/{student_id}/vector-history:
    get:
      summary: "학생의 4축 모델 성장 이력 조회 (코치용)"
      tags:
        - "4-Axis Model"
      parameters:
        - name: student_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "학생의 4축 모델(Student_Vector_History) 이력 리스트"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VectorHistoryEntry'

  /assessments:
    post:
      summary: "[V1핵심] 4축 모델 수동 갱신 (코치용)"
      tags:
        - "4-Axis Model"
      description: "코치가 수동으로 진단 이벤트를 생성하고 학생의 4축 모델 점수를 갱신합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentCreate'
      responses:
        '201':
          description: "새로운 4축 모델(VectorHistoryEntry)이 성공적으로 생성됨"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorHistoryEntry'

  /submissions:
    post:
      summary: "[V1핵심] 학생 과제 제출 (AI 주도 학습)"
      tags:
        - "Submissions"
      description: "학생이 문제를 제출하면, V1 뼈대 전략에 따라 Meta-RAG가 '텍스트 해설'과 'Manim 콘텐츠 ID'를 반환합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionCreate'
      responses:
        '201':
          description: "분석 및 시각화 매칭 완료. 텍스트 해설과 Manim 콘텐츠 URL 반환."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResult'

  /coach-memos:
    post:
      summary: "코치 정성적 메모 작성"
      tags:
        - "Coaching"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoachMemoCreate'
      responses:
        '201':
          description: "메모 생성 성공"

  /reports/drafts:
    get:
      summary: "코치가 승인할 리포트 초안 목록 조회"
      tags:
        - "Reporting"
      responses:
        '200':
          description: "승인 대기 중인 리포트 목록"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeeklyReport'

  /reports/{report_id}/finalize:
    put:
      summary: "코치가 리포트 최종 승인 (코멘트 추가)"
      tags:
        - "Reporting"
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coach_comment:
                  type: string
                  example: "이번 주 4축 모델의 '메타인지' 영역이 크게 성장했습니다. 칭찬해주세요."
      responses:
        '200':
          description: "최종 승인된 리포트"

  /reports/{report_id}/send:
    post:
      summary: "승인된 리포트를 학부모에게 발송 (카카오)"
      tags:
        - "Reporting"
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "발송 성공 (e.g., '2명에게 발송 완료')"

  /llm-logs/feedback:
    post:
      summary: "AI 판단에 대한 코치 피드백 제출 (MLOps)"
      tags:
        - "MLOps"
      description: "Pacer의 Anki 카드 생성 등 AI 판단에 대해 'GOOD'/'BAD' 피드백을 제출합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LLMFeedback'
      responses:
        '201':
          description: "피드백 기록 성공"

components:
  schemas:
    VectorAxis:
      type: integer
      description: "4축 모델의 각 축 점수 (0-100)"
      example: 65

    VectorHistoryEntry:
      type: object
      properties:
        vector_id:
          type: string
        assessment_id:
          type: string
        student_id:
          type: string
        created_at:
          type: string
          format: date-time
        axis1_geo:
          $ref: '#/components/schemas/VectorAxis'
        # ... (10개 축 추가) ...
        axis4_gri:
          $ref: '#/components/schemas/VectorAxis'

    AssessmentCreate:
      type: object
      required:
        - student_id
        - assessment_type
        - vector_data
      properties:
        student_id:
          type: string
          example: "std_kimminjun"
        assessment_type:
          type: string
          enum: [EXAM, COACH_MANUAL, AI_ANALYSIS]
          example: "COACH_MANUAL"
        source_ref_id:
          type: string
          example: "memo_abc123"
        notes:
          type: string
          example: "오프라인 수업 중 피벗 사고 훈련 후 수동 갱신"
        vector_data:
          type: object
          description: "코치가 직접 입력한 11개 축의 점수"
          properties:
            axis1_geo: { $ref: '#/components/schemas/VectorAxis' }
            # ... (10개 축 추가) ...
            axis4_gri: { $ref: '#/components/schemas/VectorAxis' }

    SubmissionCreate:
      type: object
      properties:
        student_id:
          type: string
          example: "std_kimminjun"
        problem_text:
          type: string
          example: "x^2 - 4x + 3 = 0의 해를 구하시오."
        
    SubmissionResult:
      type: object
      properties:
        submission_id:
          type: string
        status:
          type: string
          example: "COMPLETE"
        logical_path_text:
          type: string
          example: "이차방정식 문제입니다. '근의 공식' 개념(C-001)을 사용합니다..."
        concept_id:
          type: string
          example: "C-001"
        manim_content_url:
          type: string
          format: uri
          example: "https://youtube.com/watch?v=..."

    CoachMemoCreate:
      type: object
      properties:
        coach_id:
          type: string
          example: "coach_sigongjoa"
        student_id:
          type: string
          example: "std_kimminjun"
        memo_text:
          type: string
          example: "오늘 수업에서 난이도 내성(axis4_gri)이 많이 향상된 것을 관찰함."

    WeeklyReport:
      type: object
      properties:
        report_id:
          type: integer
        student_id:
          type: string
        status:
          type: string
          enum: [DRAFT, FINALIZED, SENT]
        ai_summary:
          type: string
          example: "이번 주 '메타인지(축2)' 영역이 15점 상승했습니다."
        vector_start_id:
          type: string
        vector_end_id:
          type: string
        coach_comment:
          type: string

    LLMFeedback:
      type: object
      properties:
        log_id:
          type: integer
        coach_feedback:
          type: string
          enum: [GOOD, BAD]
        reason_code:
          type: string
          example: "SIMPLE_MISTAKE"