openapi: 3.0.3
info:
  title: "Project: ATLAS - AI Coaching Platform API (V1)"
  description: "학생의 4축 잠재 공간 모델을 기반으로 코칭 활동을 지원하는 통합 API"
  version: "1.0.0"
servers:
  - url: "https://api.atlas.sigongjoa.com/v1"
    description: "Production Server"
  - url: "http://localhost:8000/v1"
    description: "Local Development Server"

paths:
  /students:
    post:
      summary: "[V1핵심] 신규 학생 등록"
      tags:
        - "Students"
      description: "새로운 학생을 시스템에 등록합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentCreate'
      responses:
        '201':
          description: "학생이 성공적으로 등록됨"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
  /students/{student_id}/vector-history:
    get:
      summary: "학생의 4축 모델 성장 이력 조회 (코치용)"
      tags:
        - "4-Axis Model"
      parameters:
        - name: student_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "학생의 4축 모델(Student_Vector_History) 이력 리스트"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VectorHistoryEntry'

  /assessments/manual:
    post:
      summary: "[V1핵심] 4축 모델 수동 갱신 (코치용)"
      tags:
        - "4-Axis Model"
      description: "코치가 수동으로 진단 이벤트를 생성하고 학생의 4축 모델 점수를 갱신합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAssessmentCreate'
      responses:
        '201':
          description: "새로운 4축 모델(VectorHistoryEntry)이 성공적으로 생성됨"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorHistoryEntry'

  /submissions:
    post:
      summary: "[V1핵심] 학생 과제 제출 (AI 주도 학습)"
      tags:
        - "Submissions"
      description: "학생이 문제를 제출하면, V1 뼈대 전략에 따라 Meta-RAG가 '텍스트 해설'과 'Manim 콘텐츠 ID'를 반환합니다."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionCreate'
      responses:
        '201':
          description: "분석 및 시각화 매칭 완료. 텍스트 해설과 Manim 콘텐츠 URL 반환."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResult'
  /submissions/{submission_id}:
    get:
      summary: "특정 제출물 조회"
      tags:
        - "Submissions"
      parameters:
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "제출물 정보"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResult'

  /anki-cards:
    get:
      summary: "모든 Anki 카드 조회"
      tags:
        - "Anki"
      responses:
        '200':
          description: "Anki 카드 리스트"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnkiCard'

  /anki-cards/{card_id}:
    get:
      summary: "특정 Anki 카드 조회"
      tags:
        - "Anki"
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: "Anki 카드 정보"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnkiCard'

components:
  schemas:
    VectorAxis:
      type: integer
      description: "4축 모델의 각 축 점수 (0-100)"
      example: 65

    VectorHistoryEntry:
      type: object
      properties:
        vector_id:
          type: string
        assessment_id:
          type: string
        student_id:
          type: string
        created_at:
          type: string
          format: date-time
        axis1_geo:
          $ref: '#/components/schemas/VectorAxis'
        axis1_alg:
          $ref: '#/components/schemas/VectorAxis'
        axis1_ana:
          $ref: '#/components/schemas/VectorAxis'
        axis2_opt:
          $ref: '#/components/schemas/VectorAxis'
        axis2_piv:
          $ref: '#/components/schemas/VectorAxis'
        axis2_dia:
          $ref: '#/components/schemas/VectorAxis'
        axis3_con:
          $ref: '#/components/schemas/VectorAxis'
        axis3_pro:
          $ref: '#/components/schemas/VectorAxis'
        axis3_ret:
          $ref: '#/components/schemas/VectorAxis'
        axis4_acc:
          $ref: '#/components/schemas/VectorAxis'
        axis4_gri:
          $ref: '#/components/schemas/VectorAxis'

    ManualAssessmentCreate:
      type: object
      required:
        - student_id
      properties:
        student_id:
          type: string
          example: "std_kimminjun"
        axis1_geo: { $ref: '#/components/schemas/VectorAxis' }
        axis1_alg: { $ref: '#/components/schemas/VectorAxis' }
        axis1_ana: { $ref: '#/components/schemas/VectorAxis' }
        axis2_opt: { $ref: '#/components/schemas/VectorAxis' }
        axis2_piv: { $ref: '#/components/schemas/VectorAxis' }
        axis2_dia: { $ref: '#/components/schemas/VectorAxis' }
        axis3_con: { $ref: '#/components/schemas/VectorAxis' }
        axis3_pro: { $ref: '#/components/schemas/VectorAxis' }
        axis3_ret: { $ref: '#/components/schemas/VectorAxis' }
        axis4_acc: { $ref: '#/components/schemas/VectorAxis' }
        axis4_gri: { $ref: '#/components/schemas/VectorAxis' }

    SubmissionCreate:
      type: object
      properties:
        student_id:
          type: string
          example: "std_kimminjun"
        problem_text:
          type: string
          example: "x^2 - 4x + 3 = 0의 해를 구하시오."
        manim_visualization_json:
          type: object
          nullable: true
        
    SubmissionResult:
      type: object
      properties:
        submission_id:
          type: string
        student_id:
          type: string
        problem_text:
          type: string
        status:
          type: string
          example: "COMPLETE"
        logical_path_text:
          type: string
          example: "이차방정식 문제입니다. '근의 공식' 개념(C-001)을 사용합니다..."
        concept_id:
          type: string
          example: "C-001"
        manim_content_url:
          type: string
          format: uri
          example: "https://youtube.com/watch?v=..."
        audio_explanation_url:
          type: string
          format: uri
          example: "https://audio.example.com/placeholder.wav"
        manim_visualization_json:
          type: object
          nullable: true
        submitted_at:
          type: string
          format: date-time

    StudentCreate:
      type: object
      required:
        - student_id
        - student_name
      properties:
        student_id:
          type: string
        student_name:
          type: string

    Student:
      type: object
      properties:
        student_id:
          type: string
        student_name:
          type: string
        created_at:
          type: string
          format: date-time

    AnkiCard:
      type: object
      properties:
        card_id:
          type: integer
        student_id:
          type: string
        llm_log_id:
          type: integer
        question:
          type: string
        answer:
          type: string
        next_review_date:
          type: string
          format: date-time
        interval_days:
          type: integer
        ease_factor:
          type: number
          format: float
        repetitions:
          type: integer